<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title><meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div>
<h1 class="welcome-title" >Bookmarks</h1>
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><%= link_to "Add a Bookmark!", new_bookmark_path %></li>
    <li><%= link_to "Bookmarks", bookmarks_path %></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to "Sign in", new_user_registration_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
  </ul>
</div>
</header>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body><br>

<footer>
	<h5>&copy; 2016 Suze!</h5>
</footer>

</html>
